<div class="container" style=" margin-left:0.5px;">
  <h3 class="text-muted">All Addresses</h3>
<br>
<table class="table table-sm  table-hover table-striped" border="0.5">
  <thead class="thead-dark">
  <tr>
    <th> AddressId </th>
    <th> RetailerId</th>
    <th>BuildingNo </th>
    <th> City </th>
    <th> State </th>
    <th> Zip</th>
    <th> Field </th>
    <th> Action </th>
  </tr>
</thead>

  <tbody>
  <tr *ngFor="let address of allAddress">
    <td>{{address.addressId}}</td>
    <td>{{address.retailerId}}</td>
    <td>{{address.buildingNo}}</td>
    <td>{{address.city}}</td>
    <td>{{address.state}}</td>
    <td>{{address.zip}}</td>
    <td>{{address.field}}</td>
   
    <td><button type="button" class="btn btn-danger" (click)="removeAddress(address.addressId)">Delete</button></td>
  </tr>
</tbody>
</table>
</div>


