<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <div class="container">
      <a class="navbar-brand" href=" "><img src="../assets/fff1.jpg"/></a>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href=" " routerLink="home">Address Management Home.</a>
          </li>
          <!--
          <li class="nav-item">
              <a class="nav-link" href=" " routerLink="find-address">Search Address.</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href=" " routerLink="view-allAddress">View/Delete Address.</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href=" " routerLink="update-address">Update Address.</a>
          </li>-->
      </ul>
  </div>
</nav>

<!--
<h2 class="text-center">Address Mgmt application</h2>
<nav>
    <a routerLink="/add-address">Add Address</a><br />
    <a routerLink="/find-address">Find Address</a><br />
    <a routerLink="/view-allAddress">View All Address</a><br />
    <a routerLink="/update-address">Update Address</a><br />

  </nav>
-->


<router-outlet></router-outlet>